@use "../../styles/colors.module.scss";
@use "../../styles/shadows.module.scss";

.container {
  position: fixed;
  background-color: colors.$white;
  top: 0;
  right: 0;
  z-index: 4;
  height: 100vh;
  width: 100%;
  max-width: 475px;
  box-shadow: shadows.$shadowXl;

  @media (max-width: 820px) {
    max-width: 420px;
  }

  @media (max-width: 500px) {
    max-width: 100%;
  }
}

.button {
  all: unset;
  position: absolute;
  top: 0.8rem;
  right: 10px;
  height: 28px;

  &:focus {
    outline: 2px solid colors.$grayBlue;
    outline-offset: 2px;
  }
}
