@use "../../styles/borders.module.scss";
@use "../../styles/colors.module.scss";
@use "../../styles/shadows.module.scss";
@use "../../styles/spacing.module.scss";

.mobileDrawer {
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  background: colors.$white;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  z-index: 3;
  height: 20vh;
  box-shadow: shadows.$shadowTop;
  transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  touch-action: none;
  touch-action: pan-y;

  &.isExpanded {
    height: 80vh;
  }

  @media (min-width: 500px) {
    display: none;
  }
}

.handle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: spacing.$spaceLg spacing.$spaceXl;
  cursor: pointer;
  border-bottom: 1px solid colors.$lightGray;
  flex-shrink: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.handleBtn {
  width: 40px;
  height: 4px;
  background: colors.$mauve;
  border-radius: borders.$radiusXs;
  margin-bottom: spacing.$spaceMd;
}

.content {
  flex: 1;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  min-height: 0;

  &.contentExpanded {
    opacity: 1;
  }
}
