@use "../../styles/borders.module.scss";
@use "../../styles/colors.module.scss";
@use "../../styles/shadows.module.scss";
@use "../../styles/spacing.module.scss";
@use "../../styles/typography.module.scss";

.leftPanel {
  margin-top: 50px;
  height: calc(100vh - 50px);
  overflow: scroll;
  min-width: 400px;
  max-width: 400px;
  background: colors.$white;
  border-right: 1px solid colors.$lightGray;
  display: flex;
  flex-direction: column;
  box-shadow: shadows.$shadowRight;
  list-style-type: none;

  @media (max-width: 500px) {
    display: none;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.panelHeader {
  padding: spacing.$space10;
  padding-bottom: 0;
  border-bottom: 1px solid colors.$grayBlue;
  flex-shrink: 0;
}

.landmarksList {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.item {
  all: unset;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 0;
  text-align: left;
  padding: spacing.$space4 spacing.$space12;
  width: 100%;
  border-bottom: 1px solid colors.$pearl;

  &.selected {
    background-color: colors.$lightGray2;
    border: 1px solid colors.$grayBlue;
  }

  &:focus {
    outline-color: colors.$grayBlue;
  }

  &:hover {
    background: colors.$lightGray2;
    border-bottom: 1px solid colors.$lightGray;
  }
}

.name {
  margin: 0;
  font-weight: 600;
  margin-bottom: spacing.$space2;
  font-size: typography.$fontSm;
}

.boroughsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: spacing.$space4;
  margin: spacing.$space6 0 spacing.$space8 0;
}

.borough,
.boroughBtn {
  background: colors.$grayBlue;
  color: colors.$white;
  padding: spacing.$space1 spacing.$space3;
  border-radius: borders.$radiusXl;
  font-size: typography.$fontXs;
  margin-top: spacing.$space2;
  margin-right: spacing.$space1;
}

.borough,
.boroughBtn.selected {
  &.manhattan {
    background: colors.$grayBlue;
  }

  &.brooklyn {
    background: colors.$lightBlue;
  }

  &.queens {
    background: colors.$queens;
  }

  &.theBronx {
    background: colors.$bronx;
  }

  &.statenIsland {
    background: colors.$statenIsland;
  }
}

.boroughBtn {
  background: colors.$lightGray2;
  color: colors.$grayBlue;
  padding: 3px spacing.$space3;;
  border: 1px solid colors.$gray;

  &:focus {
    outline-color: colors.$grayBlue;
  }

  &.selected {
    color: colors.$white;

    &:hover {
      border: 1px solid colors.$black;
    }
  }

  &:hover {
    border: 1px solid colors.$black;
  }
}

.resultsCount {
  padding: spacing.$space6 0;
  background: colors.$lightGray2;
  border-bottom: 1px solid colors.$grayBlue;
  font-size: typography.$fontSm;
  font-weight: 500;
  color: colors.$grayBlue;
  text-align: center;
}
