$black: #1c1917;
$lightGray: #f1f1f1;
$lightGray2: #f8f9fa;
$mediumGray: #dddddd;
$gray: #c0c0c0;
$grayBlue: #34495e;
$lightBlue: #6b8e8e;
$white: #ffffff;
$whiteSmoke: #f4f1ec;
$offWhite: #fdfbf5;
$cream: #f5f0e8;
$golden: #d4924a;
$vintageBrown: #5a4d3f;
$mauve: #a8a29e;
$pearl: #e7e5e4;
// boroughs
$queens: #5a7a6a;
$bronx: #6b5b7a;
$statenIsland: #6e4040;

// Box shadows
$boxShadowFocus: 0 0 0 3px rgba(0, 122, 255, 0.1);

:export {
  black: $black;
  cream: $cream;
  lightGray: $lightGray;
  lightGray2: $lightGray2;
  gray: $gray;
  grayBlue: $grayBlue;
  lightBlue: $lightBlue;
  white: $white;
  whiteSmoke: $whiteSmoke;
  offWhite: $offWhite;
  mauve: $mauve;
  golden: $golden;
  vintageBrown: $vintageBrown;
  // boroughs
  queens: $queens;
  bronx: $bronx;
  statenIsland: $statenIsland;
  // box shadow
  boxShadowFocus: $boxShadowFocus;
}
