@font-face {
    font-family: 'Karla';
    src: url('@/assets/fonts/karla-v30-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Karla';
    src: url('@/assets/fonts/karla-v30-latin-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Karla';
    src: url('@/assets/fonts/karla-v30-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  // Lora - Serif for headings/historic content
  @font-face {
    font-family: 'Lora';
    src: url('@/assets/fonts/lora-v35-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Lora';
    src: url('@/assets/fonts/lora-v35-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }