@use "../../styles/colors.module.scss";
@use "../../styles/spacing.module.scss";
@use "../../styles/typography.module.scss";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.fixedHeader {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.scrollableContent {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 spacing.$space16;
  padding-bottom: spacing.$space8;
}

.aboutSection {
  @media (max-width: 768px) {
    margin: spacing.$space4;
    max-height: 90vh;
  }

  h3 {
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  p {
    line-height: 1.6;
    margin-bottom: spacing.$space6;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: colors.$grayBlue;

    img {
      margin-right: spacing.$space2;
    }

    &:hover {
      color: colors.$grayBlue;
      text-decoration: underline;
    }
  }
}

.techItem:not(:last-child) {
  padding-bottom: spacing.$space4;
}

.connectLink {
  display: flex;
  align-items: center;
  text-decoration: none;

  svg {
    margin-right: spacing.$space2;
  }
}
