@use "../../styles/borders.module.scss";
@use "../../styles/colors.module.scss";
@use "../../styles/shadows.module.scss";
@use "../../styles/spacing.module.scss";
@use "../../styles/typography.module.scss";

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: spacing.$space10;
  overflow-y: auto; // Add this
}

.modalContent {
  position: relative;
  background: white;
  border-radius: borders.$radiusLg;
  max-width: 500px;
  width: 100%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: shadows.$shadowLg;
  margin: auto;
}

.modalClose {
  background: none;
  border: none;
  font-size: typography.$font3xl;
  cursor: pointer;
  color: #666;
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
  flex-shrink: 0;

  &:hover {
    color: colors.$black;
  }
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: spacing.$space10;
  overflow-y: auto;

  > p {
    margin-top: 0;
  }
}

.copy {
  margin: 0;
}
