@use "../../styles/colors.module.scss";
@use "../../styles/typography.module.scss";

.searchContainer {
  position: relative;
  width: 100%;
}

.searchInput {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 40px 10px 12px;
  border: 1px solid colors.$mediumGray;
  border-radius: 6px;
  font-size: typography.$fontMd;
  outline: none;

  &::placeholder {
    font-family: typography.$fontFamilyBody;
  }

  &:focus {
    outline-color: colors.$grayBlue;
    box-shadow: 0 0 0 3px rgba(0, 122, 255, 0.1);
  }
}

.clearIcon {
  all: unset;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &:focus {
    outline-color: colors.$grayBlue;
  }
}
