@use "../../styles/borders.module.scss";
@use "../../styles/colors.module.scss";
@use "../../styles/shadows.module.scss";
@use "../../styles/spacing.module.scss";
@use "../../styles/typography.module.scss";

.searchContainer {
  position: relative;
  width: 100%;
}

.searchInput {
  box-sizing: border-box;
  width: 100%;
  padding: spacing.$space5 spacing.$space20 spacing.$space5 spacing.$space6;
  border: 1px solid colors.$mediumGray;
  border-radius: borders.$radiusMd;
  font-size: typography.$fontMd;
  outline: none;

  &::placeholder {
    font-family: typography.$fontFamilyBody;
  }

  &:focus {
    outline-color: colors.$grayBlue;
    box-shadow: shadows.$boxShadowFocus;
  }
}

.clearIcon {
  all: unset;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &:focus {
    outline-color: colors.$grayBlue;
  }
}
