@use "../../styles/colors.module.scss";
@use "../../styles/shadows.module.scss";
@use "../../styles/spacing.module.scss";
@use "../../styles/typography.module.scss";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  font-weight: 400;
  background: colors.$white;
  backdrop-filter: blur(8px);
  box-shadow: shadows.$shadowMd;
  border: 1px solid colors.$white;
}

.title {
  font-size: typography.$font2xl;
  margin: 0;
  padding: 0.7rem;
  text-align: left;
  align-self: center;

  @media (max-width: 500px) {
    margin: 0;
    padding-bottom: 0;
  }
}

.content {
  margin: 0 spacing.$spaceLg;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    margin: 0;
  }
}

.aboutContent {
  @media (max-width: 768px) {
    margin: 10px;
    padding: spacing.$space2xl;
    max-height: 90vh;
  }
}

.rightContent {
  display: flex;
  margin-right: spacing.$spaceLg;
}

.progress {
  display: flex;
  align-items: center;
  margin-right: spacing.$spaceLg;
  font-size: typography.$fontLg;

  svg {
    margin-right: spacing.$spaceSm;
  }

  &.mobile {
    padding: spacing.$spaceSm;

    @media (min-width: 500px) {
      display: none;
    }
  }

  &.desktop {
    @media (max-width: 500px) {
      display: none;
    }
  }
}

.leftContent {
  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.buttonLink {
  all: unset;
  font-size: typography.$fontLg;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}

.titleLink {
  text-decoration: none;
  color: inherit;

  &:hover .title {
    opacity: 0.8;
    color: black;
  }
}
