.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.header {
  font-family: "Montserrat", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 2rem;
  overflow: scroll;
}

.header {
  text-align: center;
  margin: 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  margin-bottom: 0;
}

.quote {
  font-style: italic;
}

.author {
  text-align: center;
}

.visited {
  margin-left: 1rem;
}

.caption {
  color: gray;
  font-size: 12px;
  font-style: italic;
}

.img {
  /* width: 100%;
  max-width: auto; */
  align-self: center;
  max-width: 100%;
  max-height: 400px;
}

.details {
  display: flex;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.learnMore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: #f1f1f1;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: black;

    &:hover {
      color: black;
      text-decoration: underline;
    }

    img {
      padding-left: 5px;
    }
  }
}

.details {
  align-self: flex-start;
}

.checkbox {
  display: none;
}

/* Hide the native checkbox */
.native-checkbox {
  display: none;
}

/* Style the custom checkbox */
.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.customCheckbox {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
}

/* Checked state styling */
.checkbox:checked + .customCheckbox {
  background-color: black;
  border-color: black;
}

.checkbox:checked + .customCheckbox::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
