@use "../../styles/borders.module.scss";
@use "../../styles/colors.module.scss";
@use "../../styles/spacing.module.scss";
@use "../../styles/typography.module.scss";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Fixed header and image section */
.fixedHeader {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 0 spacing.$space16;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

/* Scrollable content section */
.scrollableContent {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  min-height: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 spacing.$space16;
  padding-bottom: spacing.$space12;
}

.description {
  margin-bottom: 0;
}

.quote {
  font-style: italic;
}

.author {
  text-align: center;
}

.caption {
  color: colors.$mauve;
  font-size: typography.$fontXs;
  font-style: italic;
  text-align: center;
}

.caption:hover {
  color: colors.$mauve;
  text-decoration: underline;
}

.img {
  width: auto;
  max-width: 99%;
  max-height: 400px;
  height: auto;
  border: 2px solid colors.$vintageBrown;
  margin-bottom: spacing.$space1;
  display: block;
  object-fit: contain;
}

.details {
  display: flex;
  margin-top: spacing.$space12;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: spacing.$space8;
}

.learnMore {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: spacing.$space6;
  background-color: colors.$lightBlue;
  width: 100%;

  .link {
    display: flex;
    align-items: center;
    margin-right: spacing.$space16;
    color: colors.$lightBlue;
    background-color: colors.$offWhite;
    padding: spacing.$space4 spacing.$space8;
    border-radius: borders.$radiusMd;
    text-decoration: none;
    font-weight: 500;
    font-size: typography.$fontSm;
    transition: background-color 0.2s;
    border: 2px solid transparent;

    svg {
      padding-left: 5px;
    }

    &:hover {
      text-decoration: none;
      border: 2px solid colors.$grayBlue;
    }
  }
}

/* Hide the native checkbox */
.checkbox,
.native-checkbox {
  display: none;
}

/* Style the custom checkbox */
.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: colors.$offWhite;
}

.customCheckbox {
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-radius: borders.$radiusSm;
  margin-right: spacing.$space4;
  display: inline-block;
  position: relative;
  background: colors.$offWhite;
}

/* Checked state styling */
.checkbox:checked + .customCheckbox {
  background-color: colors.$offWhite;
}

.checkbox:checked + .customCheckbox::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid colors.$lightBlue;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.quoteBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: colors.$lightGray2;
  padding: spacing.$space6 spacing.$space8;
  border-radius: borders.$radiusLg;
  border-left: 4px solid colors.$mauve;
}

.quoteText {
  font-family: typography.$fontFamilyHeading;
  font-size: typography.$fontSm;
  color: colors.$vintageBrown;
  margin-bottom: spacing.$space2;
}

.quoteAttribution {
  font-size: typography.$fontXs;
  color: colors.$vintageBrown;
  margin: 0;
}

.bulletList {
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 0;
}

.bulletItem {
  display: flex;
  flex-direction: column;
  padding: spacing.$space8 spacing.$space4 spacing.$space8 0;
  margin: 0;
  border-bottom: 1px solid colors.$pearl;

  &:last-child {
    border-bottom: none;
    padding-bottom: spacing.$space12;
  }
}

.key {
  font-family: "Lora", serif;
  font-size: typography.$fontXs;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: colors.$vintageBrown;
  margin: 0 0 0.35rem 0;
}

.value {
  color: colors.$black;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  font-weight: 400;
}

.link {
  color: colors.$lightBlue;

  &:hover {
    color: colors.$lightBlue;
    text-decoration: underline;
  }
}

.modalButton {
  all: unset;
  color: colors.$lightBlue;
  cursor: pointer;
  font-weight: 500;

  &:focus {
    outline: none;
  }
}
