.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.header {
  /* font-family: "Playfair Display", serif; */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 56px);
  padding: 0 2rem;
  overflow: scroll;
}

.header {
  text-align: center;
  margin: 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  margin-bottom: 0;
}

.quote {
  font-style: italic;
}

.author {
  text-align: center;
}

.visited {
  margin-left: 1rem;
}

.caption {
  color: #9b9186;
  font-size: 12px;
  font-style: italic;

  &:hover {
    color: #9b9186;
    text-decoration: underline;
  }
}

.img {
  /* width: 100%;
  max-width: auto; */
  align-self: center;
  max-width: 100%;
  max-height: 400px;
  border: 2px solid #5e4b3c;
}

.details {
  display: flex;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.learnMore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: #c7b9a0;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: black;

    &:hover {
      color: black;
      text-decoration: underline;
    }

    img {
      padding-left: 5px;
    }
  }
}

.details {
  align-self: flex-start;
}

.checkbox {
  display: none;
}

/* Hide the native checkbox */
.native-checkbox {
  display: none;
}

/* Style the custom checkbox */
.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.customCheckbox {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
}

/* Checked state styling */
.checkbox:checked + .customCheckbox {
  background-color: black;
  border-color: black;
}

.checkbox:checked + .customCheckbox::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.quoteBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1rem 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #fafaf9;
  padding: 12px 16px;
  border-radius: 8px;
  border-left: 4px solid #5e4b3c;
}

.quoteText {
  font-family: Georgia, "Times New Roman", serif; /* Elegant serif */
  font-size: 14px;
  font-style: italic;
  color: #57534e;
  margin-bottom: 4px;
}

.quoteAttribution {
  font-size: 12px;
  color: #68645e;
}

.bulletList {
  padding: 0;
  list-style: none;
}

.bulletItem {
  display: flex;
  align-items: flex-start;
  padding: 12px 0;
  margin-top: 0;
  margin-bottom: 0;
}

.bulletItem:last-child {
  border-bottom: none;
}

.key {
  min-width: 160px;
  margin-right: 12px;
  padding-right: 12px;
  font-size: 14px;
  flex-shrink: 0;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.value {
  color: #555;
  font-size: 14px;
  line-height: 1.4;
  flex: 1;
  margin: 0;
}
