.container {
  width: 100%;
  position: relative;
}

.title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 1rem;
  left: 50%;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  background-color: #f8f3e8;
  border: 5px solid #5e4b3c;
  transform: translateX(-50%);
}

.header {
  margin: 0;
  padding: 0;
}

.progress {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
