@use "./styles/colors.module.scss";

/* Container for the split screen layout */
.container {
  display: flex;
  box-sizing: border-box;
  background-color: colors.$grayBlue;
  height: 100vh;
  overflow: hidden;
}

/* Left side (Text Content) */
.leftPanel {
  width: 100%;
  padding: 2rem;
  flex: 1;
  padding-top: 5rem;
  overflow-y: auto;
}

.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-align: left;
  color: colors.$white;
}

.paragraph{
  color: colors.$white;
}

.viewMapButton {
  padding: 10px 20px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
}

/* --- LEFT NARROW COLUMN --- */
.leftImageColumn {
  width: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 5px;
  border: 5px solid black;
  border-right: none;
  background-color: black;
  height: 100vh;
  overflow-y: auto;
  flex-shrink: 0;
  align-content: start;
}

.photoDakota,
.photoLifeLeft {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* --- RIGHT MAIN COLLAGE --- */
.rightPanel {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  border: 5px solid black;
  background-color: black;
  height: 100vh;
  overflow-y: auto;
  flex-shrink: 0;
}

/* Styles for all images in the collage */
.collageImage {
  width: 100%;
  height: 100%;
  // object-fit: cover;
  display: block;
}

/* --- GRID PLACEMENT --- */

/* Trinity - Full width, row 1 */
.photoTrinity {
  grid-column: 1 / -1;
  grid-row: 1;
}

/* Map - Full width, row 2 */
.photoMap {
  grid-column: 1 / -1;
  grid-row: 2;
  object-fit: contain;
  background-color: colors.$grayBlue;
}

/* Woolworth - Left column, row 3 */
.photoWoolworth {
  grid-column: 1;
  grid-row: 3;
}

/* Empire - Right column, row 3 */
.photoLife {
  grid-column: 2;
  grid-row: 3;
}

/* Central Park - Full width, row 4 */
.photoCentralPark {
  grid-column: 1 / -1;
  grid-row: 4;
}